:root {
    --background-color: #f5f3f0;
    --font-color: #494949;
    --action-color: #D77F7A;
    --accent-color-1: #7294C7;
    --accent-color-2: #e4b3b0;
    --accent-color-3: #4c73ad;
    --header-font: 'Raleway';
    --body-font: 'Overpass';
    --berkeley-blue: #003262;
    --salesforce-blue: #0b9dda;
    --microsoft-red: #F25022;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 5vh 8vw 0 8vw;
}

svg {
    width: 4rem;
}

path {
    fill: var(--font-color);
}

svg:hover path {
    fill: var(--action-color);
    transition-duration: 0.5s;
}

a, a:visited {
    color: var(--font-color);
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: var(--action-color);
    transition-duration: 0.5s;
    cursor: pointer;
}

.section {
    padding: 5vh 0;
    width: 100%;
}

.align-right {
    text-align: right;
}

.strike {
    text-decoration: line-through;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}


/* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--header-font);
    font-weight: 500;
}


/* LANDING */

#landing {
    padding: 10vh 5vw;
}

h1 {
    font-size: 1.2rem;
}

#name {
    font-family: var(--header-font);
    font-size: 6.5rem;
    font-weight: bold;
    opacity: 0.8;
}

.pink {
    color: var(--accent-color-2);
    font-weight: normal;
}

#berkeley {
    color: var(--berkeley-blue);
    opacity: 0.8;
}

#salesforce {
    color: var(--salesforce-blue);
    opacity: 0.8;
}

#microsoft {
    color: var(--microsoft-red);
    opacity: 0.8;
}

a:hover #berkeley, a:hover #salesforce, a:hover #microsoft {
    opacity: 1;
    text-decoration: underline;
    transition-duration: 0.5s;
    cursor: pointer;
}


/* PROJECTS */

h2 {
    font-family: var(--header-font);
    font-size: 1.7rem;
    color: var(--action-color);
    display: inline-block;
}

.line-left, .line-right {
    display: flex;
    flex-direction: row;
    padding: 1.3rem 0;
}

.line-right:after {
    content: "";
    flex: 1 1;
    border-bottom: 0.15rem solid var(--action-color);;
    margin: auto;
    margin-left: 1.7rem;
}

.line-left:before {
    content: "";
    flex: 1 1;
    border-bottom: 0.15rem solid var(--action-color);;
    margin: auto;
    margin-right: 1.7rem;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 41.5vw;
    margin-bottom: 1vw;
}

.project-image {
    width: 100%;
    opacity: 0.8;
}

a h3 {
    font-family: var(--header-font);
    font-size: 1.3rem;
    color: var(--accent-color-1);
    margin: 0.5rem 0 0.1rem 0;
    opacity: 1;
}

.project:hover h3 {
    color: var(--accent-color-3);
    transition-duration: 0.5s;
    cursor: pointer;
}

.project .project-image-container {
    height: 25vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover img {
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 1;
    cursor: pointer;
}

.project p {
    margin-bottom: 0;
}

.locked img {
    filter: blur(5px);
}


/* FOOTER */

#footer {
    padding-bottom: 2vh;
}

.contact {
    font-family: var(--header-font);
    font-size: 1.7rem;
    color: var(--font-color);
}

a:hover .contact {
    color: var(--action-color);
    transition-duration: 0.5s;
}

.contact-link {
    padding-left: 2rem;
}

#copyright {
    text-align: center;
    opacity: 0.5;
    padding-top: 2rem;
}


/* ABOUT */

.about {
    padding: 3vh 5vw 0 5vw;
    align-items: center;
}

.about a {
    color: var(--accent-color-3);
    opacity: 0.8;
}

.about a:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.about img {
    width: 20vw;
    height: fit-content;
    margin-right: 2vw;
}


/* WORK */

#filters {
    justify-content: space-between;
    margin-bottom: 2vh;
}

.filter-button {
    background-color: var(--action-color);
    border: none;
    color: var(--background-color);
    padding: 0.5rem 1rem;
    margin: 0.1rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--body-font);
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.8;
}

.filter-button:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.selected {
    opacity: 1;
}

.filter-hashtag {
    background-color: var(--background-color);
    border: none;
    color: var(--font-color);
    padding: 0;
    padding-right: 0.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: var(--body-font);
    font-size: 0.9rem;
    cursor: pointer;
    opacity: 0.5;
    font-style: italic;
}

.filter-hashtag:hover {
    opacity: 0.8;
    transition-duration: 0.5s;
}

.hidden {
    display: none;
}

.project-header {
    justify-content: space-between;
    align-items: center;
}

.project-links div {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--accent-color-1);
    color: var(--background-color);
    font-size: 0.8rem;
}