:root {
  --yellow: #fcd997;
  --blue: #95a7b5;
  --pink: #cd7f7d;
  --font-gray: #424242;
  --background-gray: #fcfcfc;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--font-gray);
    font-family: Overpass;
    background-color: var(--background-gray);
}

#page {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
}

#to-top a{
    font-size: 3vw;
    color: white;
    text-align: center;
    position: fixed;
    width: 4vw;
    height: 4vw;
    background-color: var(--pink);
    border-radius: 50%;
    bottom: 16px;
    right: 32px;
}

#to-top:hover {
    font-weight: bold;
    cursor: pointer;
}

.section {
    margin-bottom: 16px;
}

.section:last-child {
    margin-bottom: 0px;
}


/* NAVIGATION BAR */

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 12vh;
    padding-bottom: 1.5vh;
}

#name {
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
    color: var(--pink);
}

#nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    padding-left: 32px;
}

.nav-link {
    text-decoration: none;
    color: var(--font-gray);
}

.nav-link:hover {
    font-weight: bold;
    cursor: pointer;
}

.underline {
    height: 4px;
    background-color: var(--yellow);
}


/* HEADER SECTION */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78.5vh;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#intro-text {
    width: 50%;
}

#intro-text h1 {
    font-size: 28px;
}

#reach-out-buttons {
    display: flex;
    flex-direction: row;
}

.button {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    margin: 1vw 1.5vw 0vw 0vw;
}

.button:hover {
    cursor: pointer;
}

#intro-image {
    width: 50%;
    height: 40vw;
}

#intro-image-self {
    width: 100%;
}

#about-image {
    width: 50%;
    height: 40vw;
    text-align: center;
}

.about-image-self {
    position: relative;
    display: inline-block;
}

.about-image-self img {
    width: 70%;
    padding-top: 7%;
}

.about-image-overlay {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 15%;
}

.about-image-self:hover .about-image-overlay {
    display: inline;
    opacity: 1;
    transition: 0.5s;
}

#arrow {
    position: absolute;
    bottom: 3vh;
    z-index: 2;
    animation: arrow-move 1.5s ease-in-out infinite;
}

@keyframes arrow-move {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25%);
    }
}

#arrow:hover {
    cursor: pointer;
}

#arrow-img {
    height: 6vh;
}


/* EXPERIENCE SECTION */

h2 {
    font-size: 22px;
}

#experience-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 21vw;
    height: 21vw;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-color: var(--yellow);
    margin-bottom: 16px;
}

.card:last-child {
    margin-right: 0;
}

.card img, .card-overlay {
    display: block;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    background-color: var(--background-gray);
}

.card:hover .card-overlay {
    opacity: 0.95;
    cursor: pointer;
}

.card:hover .card-text {
    color: var(--font-gray);
    font-size: 1.25vw;
}

.card-text {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    text-align: center;
    position: absolute;
}


/* SPECIFIC CARD BG COLORS */

.card-title {
    padding-top: 5vw;
    font-size: 1.25vw;
    font-weight: bold;
}

.card-description {
    padding: 0.7vw;
    font-size: 1vw;
}

#microsoft-card {
    background-color: #f3f3f3;
}

#bc-card {
    background-color: #c22b3b;
}

#maganda-card {
    background-color: #000000;
}

#swe-card {
    background-color: #551a8b;
}

#wdd-card {
    background-color: #6492c0;
}

#csk-card {
    background-color: #d1b9d9;
}

#plunging-card {
    background-color: #7a9da8;
}

#andon-card {
    background-color: #cd7f26;
}

#eat-card {
    background-color: #d7a841;
}

#treat-card {
    background-color: #e1c034;
}

#bmaps-card {
    background-color: #79ca9b;
}

#scheduler-card {
    background-color: #54bad1;
}

#mafia-card {
    background-color: #000000;
}


/* PROJECT SECTION */

#project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more {
    text-align: right;
}

/* ART SECTION */

#art-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* LIGHTBOXES */

.lightbox {
	display: none;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(66,66,66,0.8);
}

.lightbox img {
	max-width: 75%;
	max-height: 75%;
    margin-top: 6%;
}

.lightbox:target {
	outline: none;
	display: block;
}

.lightbox .x {
    position: absolute;
    top: 1vw;
    right: 2vw;
    color: var(--background-gray);
    font-size: 2vw;
}


/* PROJECT PAGE SECTION */
.project {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 28px;
    text-align: center;
    color: var(--font-gray);
    margin-bottom: 0px;
}

.project-title:hover {
    cursor: pointer;
    color: var(--blue);
}

.collab {
    margin-top: 0px;
    text-align: center;
}

.project-content h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0px;
}

.project-content p {
    margin-top: 4px;
}

.project-banner img {
    width: 70vw;
    object-fit: cover;
}

.prevnext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* FOOTER SECTION */

#footer {
    text-align: center;
}



/* SPAN COLORS */

a {
    text-decoration: none;
}

.pink {
    color: var(--pink);
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--blue);
}

.cross-out {
    text-decoration: line-through;
}

.pink:hover {
    font-weight: bold;
    cursor: pointer;
}

.blue:hover {
    color: var(--pink);
    font-weight: bold;
    cursor: pointer;
}

.center {
    display: block;
    text-align: center;
}

.hidden {
    opacity: 0;
}

.hidden:hover {

}
